[submodule "plugins/conda-zsh-completion"]
	path = plugins/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-vi-mode"]
	path = plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "plugins/autoenv"]
	path = plugins/autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "plugins/zsh-dircolors-solarized"]
	path = plugins/zsh-dircolors-solarized
	url = https://github.com/sfo/zsh-dircolors-solarized.git
